---
---

<footer class="mt-12 pt-4 border-t border-border text-muted text-xs flex flex-col gap-2 items-center">
  <a href="https://astrohacker.com" class="flex items-center gap-2 hover:text-accent">
    <picture>
      <source
        srcset="/images/astrohacker-5-dark-32.webp 1x, /images/astrohacker-5-dark-64.webp 2x"
        media="(prefers-color-scheme: dark)"
      />
      <img
        src="/images/astrohacker-5-light-32.webp"
        srcset="/images/astrohacker-5-light-32.webp 1x, /images/astrohacker-5-light-64.webp 2x"
        alt="Astrohacker logo"
        class="w-5 h-5"
      />
    </picture>
    An Astrohacker Project
  </a>
  <p>&copy; {new Date().getFullYear()} Astrohacker. MIT License.</p>
</footer>
