---
---

<header class="flex items-center gap-4 text-sm">
  <a href="/" class="text-foreground hover:text-primary font-bold">Shannon</a>
  <nav class="flex gap-3 text-muted">
    <a href="/docs" class="hover:text-accent">Docs</a>
    <a href="https://github.com/shannonshell/shannon" class="hover:text-accent">GitHub</a>
  </nav>
</header>
